/* Video.module.css */
@import '../_variables.css';

.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.videoIframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    min-width: 50vw;
    border: none;
    border-radius: 12px;
    background: var(--color-bg-img);
    box-shadow: 0 2px 16px var(--color-bg-overlay);
    display: block;
    margin: 0 auto;

}
